<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="netfx-Guard" version="1.2.0.10" targetFramework="net40" />
  <package id="netfx-System.Collections.Generic.IEnumerable.Traverse" version="1.0.0.17" targetFramework="net40" />
  <package id="netfx-System.TypeInheritance" version="1.1.1.0" targetFramework="net40" />
</packages>